#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&zip_temp_layer {
    excluded-positions = <15 16 17 18 19>;
    require-prior-idle-ms = <500>;
};

&trackball_listener {
    input-processors =
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
        <&zip_temp_layer 1 10000>,
        <&zip_xy_to_scroll_mapper>;
};

&size_s_transform {
    col-offset = <7>;
};
